/* **************************************************************************** */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:rgb(170, 70, 70);
    color: rgb(244,178,65);
}

::placeholder {
    color:black;
}

a {
    color:white;
}

a:hover {
    color: red;
}

div.container {
    min-height: 1000px;
    background: url('/static/mhub/img/table_background_middle.png') no-repeat;
    background-size: cover;
    padding-top: 0.1px;
}

    div.container div.header_links {
        width: 100%;
        margin-top: 30px;
        height: 10px;
    }

        div.container div.header_links a {
            margin-left: 1025px;
            color: white;
        }


    div.container div.header img {
        height: 120px;
        width: 120px;
        margin-left: 30px;
        border-radius: 50%;
        border: 2px solid white;
    }

    div.container div.header h1 {
        margin: 55px 25px 0px 545px;
        text-shadow:1px 1px black;
        color: white;
        display:inline-block
    }

        div.container div.header h1 span#logo_first {
            color:rgb(180,0,0);
        }

        div.container div.header h1 span#logo_second {
            color:black;
        }

        div.container div.header h1 span#logo_third {
            color: rgb(244,178,65);
            font-size:1.2em;
        }

    div.container div.searchbar {
        width: 99%;
        height: 60px;
        margin: 25% 1% 0px 1%;
        border-radius: 20px;
        font-size: 0px;
    }

        div.container div.searchbar h3 {
            text-shadow: 1px 1px black;
            text-align: left;
            margin-left: 20px;
        }

        div.container div.searchbar input.search {
            width: 79.5%;
            height: 60px;
            padding: 0 10px;
            font-size: 22px;
            border: 1px solid black;
            vertical-align: top;
            background: url('/static/mhub/img/grid_light.png');
            background-size: contain;
        }

            div.container button.search_options:focus, input.gobutton:focus, input.search:focus {
                outline:0;
            }

        div.container div.searchbar div.dropdown {
            position:relative;
            display: inline-block;
            width:9.5%;
            vertical-align: top;
        }

            div.container div.searchbar div.dropdown div.dropdown_content {
                display: none;
                position: absolute;
                left: 1px;
                background-color: #f1f1f1;
                width: 103px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                border-radius: 0px 0px 5px 5px;
            }

                div.container div.searchbar div.dropdown div.dropdown_content a {
                    display: inline-block;
                    color:black;
                    text-decoration: none;
                    padding: 5px 5px;
                    font-size: 16px;
                    text-align:center;
                    margin-left: 1px;
                }

            div.container div.searchbar div.dropdown button.dropdown_button {
                width:100%;
                height:60px;
                border-radius: 30px 0 0 30px;
                font-size: 16px;
                vertical-align:top;
                border: 1px solid black;
                cursor: pointer;
                background-color: rgb(200,0,0);
                color: white;
            }

                div.container div.searchbar div.dropdown button.dropdown_button img {
                    width:30px;
                    height:30px;
                }

                div.container div.searchbar div.dropdown div.dropdown_content a:hover {
                    background-color: #ddd;
                }
                div.container div.searchbar div.dropdown:hover div.dropdown_content {
                    display: block;
                }
                div.container div.searchbar div.dropdown:hover button.dropdown_button {
                    background-color:rgb(170,0,0);
                    border-radius: 30px 0px 0px 0px;
                }

                    div.container div.searchbar div.dropdown div.dropdown_content img.dropdown_img {
                        width:40px;
                        height:40px;
                    }

        div.container div.searchbar input.gobutton {
            width: 9.5%;
            height:60px;
            font-size: 20px;
            /* font-weight:bold; */
            border:1px solid black;
            border-radius: 0 30px 30px 0;
            cursor: pointer;
            color: white;
            background-color: black;
        }

    /* div.container img.loading_pingpong {
        margin: 0 auto;
    } */
    
    div.container div.search_results {
        font-size:0px;
        width: 100%;
        min-height: 700px;
        margin-top: 50px;
        padding-left: 20px;
        text-align:center;
    }

        /* div.container div.search_results div.results_box {
            vertical-align: top; */
            /* padding-left:10px; */
            /* font-size: 16px;
            width: 47%;
            margin-right: 20px;
            height:600px;
            background-color: white;
            display: inline-block;
            border-radius: 10px;
            vertical-align: top;
        } */

        div.container div.search_results div.results_box {
            vertical-align: top;
            /* padding-left:10px; */
            font-size: 16px;
            width: 98%;
            margin-right: 20px;
            height:700px;
            background-color: white;
            display: inline-block;
            border-radius: 10px;
            vertical-align: top;
        }

            div.container div.search_results div.results_box h3 {
                text-shadow: 1px 1px black;
                text-align: left;
                margin-left: 10px;
            }

            div.container div.search_results div.results_box div.results_list {
                overflow:scroll;
                height: 120px;
            }

            div.container div.search_results div.results_box div.content_box {
                display:inline-block;
                width: 350px;
                height: 80px;
                vertical-align: top;
                cursor: pointer;
                /* margin: 5px; */
            }

                div.container div.search_results div.results_box div.content_box div.img_box {
                    display:inline-block;
                    width: 100px;
                    height: 65px;
                    vertical-align: top;
                    /* margin: 5px; */
                }

                    div.container div.search_results div.results_box div.content_box div.img_box img {
                        max-width: 100%;
                        max-height: 100%
                    }

                div.container div.search_results div.results_box div.content_box div.details_box {
                    display:inline-block;
                    width:200px;
                }

                    div.container div.search_results div.results_box div.content_box div.details_box ul {
                        font-size: 10px;
                        list-style-type: none;
                        vertical-align: top;
                        margin-left: 10px;
                        margin: 5px;
                        text-align: left;
                        color: black;
                    }

    div.container div.search_results div.more_container {
        text-align: center;
        height: 90px;
        padding: 35px 0;
        margin-left: -20px;
    }

        div.container div.search_results div.more_container button.more_results {
            width: 120px;
            height:30px;
            font-size:14px;
            border-radius: 10px;
        }

            div.container div.search_results div.more_container button.more_results a {
                text-decoration: none;
            }

    div.container div.search_results div#player {
        width: 645px;
        height:400px;
        /* background-color:black; */
        margin:10px auto;
    }


/* **************************************************************************** */

div.container div.login {
    width: 49.5%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin-top: 50px;
}

div.container div.register {
    width: 49.5%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin-top: 50px;
}


/** FLASH MESSAGES *******************************/
    div.form-group label {
        display: inline-block;
    }
    .registration_msgs, .login_msgs {
        list-style-type: none;
        display: inline-block;
        margin-left: -10px;
    }
        .green_message {
            color: green;
        }
        .red_message {
            color: red;
        }
/*************************************************/

/* **************************************************************************** */

    div.container div.search_results div.results_box div.img_box {
        display:inline-block;
        width: 110px;
        height: 65px;
        vertical-align: top;
        margin: 5px;
    }

        div.container div.search_results div.results_box div.img_box {
            max-width: 100%;
            max-height: 100%
        }

    div.container div.search_results div.results_box div.details_box {
        display:inline-block;
    }

        div.container div.search_results div.results_box div.details_box ul {
            font-size: 10px;
            list-style-type: none;
            vertical-align: top;
            margin-left: 10px;
            margin: 5px;
            text-align: left;
            color: black;
        }
    
    div.container div.player_fixed {
        position: fixed;
        height:80px;
        width:100%;
        bottom:0px;
    }

        div.container div.player_fixed p {
            display:inline-block;
        }

div.container a#go_paddle {
    font-size: 24px;
    margin: 100px 50px;
}

div.container div.pongs_list {
    height: 500px;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
}