* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:rgb(177,61,67);
    color: rgb(244,178,65);
}

::placeholder {
    color:black;
}

div.container {
    min-height: 900px;
    background: url('/static/mhub/img/table_background_middle.png') no-repeat;
    background-size: cover;
    padding-top: 0.1px;
}

    /* div.header {
        padding: 5px;
    } */

    div.container div.header img {
        height: 120px;
        width: 120px;
        margin-left: 30px;
        border-radius: 50%;
        border: 2px solid white;
    }

    div.container div.header h1 {
        margin: 75px 25px 0px 545px;
        color: white;
        display:inline-block
    }

        div.container div.header h1 span#logo_first {
            color:rgb(180,0,0);
            text-shadow:1px 1px black;
        }

        div.container div.header h1 span#logo_second {
            color:black;
            text-shadow:1px 1px black;
        }

        div.container div.header h1 span#logo_third {
            color: rgb(244,178,65);
            font-size:1.2em;
            text-shadow:1px 1px black;
        }

    div.container div.searchbar {
        width: 99%;
        height: 40px;
        margin: 200px 1% 0px;
        border-radius: 20px;
        font-size: 0px;
    }

        div.container div.searchbar input.search {
            width: 79.5%;
            height: 40px;
            padding: 0 10px;
            font-size: 16px;
            border: 1px solid black;
            vertical-align: top;
            background: url('/static/mhub/img/grid_light.png');
            background-size: contain;
        }

            div.container button.search_options:focus, input.gobutton:focus, input.search:focus {
                outline:0;
            }

        div.container div.searchbar div.dropdown {
            position:relative;
            display: inline-block;
            width:9.5%;
            vertical-align: top;
        }

            div.container div.searchbar div.dropdown div.dropdown_content {
                display: none;
                position: absolute;
                left: 20px;
                background-color: #f1f1f1;
                width: 80px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                border-radius: 5px;
            }

                div.container div.searchbar div.dropdown div.dropdown_content a {
                    display: inline-block;
                    color:black;
                    text-decoration: none;
                    padding: 5px 5px;
                    font-size: 16px;
                    text-align:center;
                }

            div.container div.searchbar div.dropdown button.dropdown_button {
                width:100%;
                height:40px;
                border-radius: 20px 0 0 20px;
                font-size: 16px;
                vertical-align:top;
                border: 1px solid black;
                cursor: pointer;
                background-color: rgb(200,0,0);
                color: white;
            }

                div.container div.searchbar div.dropdown div.dropdown_content a:hover {
                    background-color: #ddd;
                }
                div.container div.searchbar div.dropdown:hover div.dropdown_content {
                    display: block;
                }
                div.container div.searchbar div.dropdown:hover button.dropdown_button {
                    background-color:rgb(170,0,0);
                }

                    div.container div.searchbar div.dropdown div.dropdown_content img.dropdown_img {
                        width:30px;
                        height:30px;
                    }

        div.container div.searchbar input.gobutton {
            width: 9.5%;
            height:40px;
            font-size: 16px;
            border:1px solid black;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
            color: white;
            background-color: black;
        }
    
    div.container div.search_results {
        font-size:0px;
        width: 100%;
        min-height: 300px;
        margin-top: 50px;
        padding-left: 25px;
        text-align:center;
    }

        div.container div.search_results div.results_box {
            font-size: 16px;
            width: 30%;
            margin-right: 20px;
            min-height:300px;
            background-color: white;
            display: inline-block;
            border-radius: 10px;
        }